body {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #838383;
  font-style: normal;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #18181c;
  line-height: 1.3;
}

h1, .h1 {
  font-size: 48px;
  margin-bottom: 25px;
}

h2, .h2 {
  font-size: 42px;
  margin-bottom: 25px;
}

h3, .h3 {
  font-size: 36px;
  margin-bottom: 25px;
}

h4, .h4 {
  font-size: 24px;
  margin-bottom: 15px;
}

h5, .h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 15px;
  line-height: 24px;
  font-weight: 400;
  color: #838383;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; 
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; 
}
.d-block {
  display: block !important; 
}
.p-4 {
  padding: 1.5rem !important; }
.the_box {
  position: relative;
  overflow: hidden;
}
.the_box .the_img {
  position: relative;
  overflow: hidden;
}
.the_box .the_img img {
  width: 100%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.the_box .the_img .info_box {
  position: absolute;
  bottom: 25px;
  background-color: #18181c;
  padding: 10px 30px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.the_box .the_img .info_box .name {
  color: #f50136;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.the_box .the_img .info_box .position {
  font-size: 12px;
  color: #ffffff;
  text-transform: capitalize;
}
.the_box .the_social {
  padding: 50px;
}
.the_box .the_social ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.the_box .the_social ul li {
  display: inline-block;
  margin-left: 4px;
}
.the_box .the_social ul li a {
  border: solid 1px #f50136;
  display: block;
  border-radius: 50px;
  padding: 7px 0;
  font-size: 24px;
  color: #f50136;
  width: 40px;
  height: 40px;
  text-align: center;
}
.the_box .the_social ul li a:hover {
  color: #ffffff;
  background-color: #f50136;
}
.the_box:hover .the_img img {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.the_box:hover .the_img .info_box {
  background-color: #f50136;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.the_box:hover .the_img .info_box .name {
  color: #ffffff;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.the_box:hover .the_img .info_box .position {
  color: #ffffff;
}
.section_title {
  position: relative;
  margin-bottom: 25px;
}
.section_title .title {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 36px;
}
.section_title .title:before {
  width: 30px;
  content: " ";
  position: absolute;
  border-top: solid 3px #f50136;
  left: 0;
  top: 0;
}
footer {
  padding: 20px 0 5px;
  background-color: #0b031b;
}
footer .footer_box {
  position: relative;
  margin-top: 2px;
}
footer .footer_box h4.footer_title {
  text-transform: uppercase;
  padding: 5px 0;
  font-size: 18px;
  color: #ffffff;
}
footer .footer_box h4.footer_title:before {
  width: 10px;
  content: " ";
  position: absolute;
  border-top: solid 3px #f50136;
  left: 0;
  top: 0;
}
footer .footer_header {
  margin-bottom: 5px;
}
footer .footer_social {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer_social li {
  display: inline-block;
  margin: 6px;
}
footer .footer_social li a {
  border: solid 1px #f50136;
  display: block;
  border-radius: 50px;
  padding: 2px 0;
  font-size: 24px;
  color: #f50136;
  width: 40px;
  height: 40px;
  text-align: center;
}
footer .footer_social li a:hover {
  background-color: #f50136;
  color: #ffffff;
}


footer .newsletter_form .form-control {
  background-color: #1f1039;
  border: solid 1px #1f1039;
  font-weight: 500;
  color: #ffffff;
}

.copyright_footer {
  background-color: #080113;
  padding: 5px;
}
.copyright_footer p {
  font-size: 13px;
  padding: 5px;
  text-transform: capitalize;
  color: #ffffff;
}
.copyright_footer ul.footer_menu {
  padding: 0;
  margin: 0;
  list-style: none;
  direction: rtl;
}
.copyright_footer ul.footer_menu li {
  display: inline-block;
}
.copyright_footer ul.footer_menu li a {
  padding: 5px;
  text-transform: capitalize;
  color: #838383;
}
.copyright_footer ul.footer_menu li a:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .copyright_footer {
    text-align: center;
  }
}
.color-gray {
  color: #f0f2f6 !important;
}

.color-dark-gray {
  color: #838383 !important;
}

.color-dark {
  color: #333333 !important;
}

.color-black {
  color: #18181c !important;
}

.color-light {
  color: #ffffff !important;
}

.color-green {
  color: #6cc47f !important;
}

.color-blue {
  color: #0652fd !important;
}

.color-red {
  color: #f97794 !important;
}

.color-orange {
  color: #f79257 !important;
}

.color-yellow {
  color: #ffbf00 !important;
}

.color-purple {
  color: #926cc4 !important;
}

.bg-grad-purple {
  background: #8C66CA;
  background: linear-gradient(135deg, #E25574 0%, #8C66CA 100%);
}

.bg-macaroni {
  background: -webkit-gradient(linear, left top, right top, from(#ff5f6d), to(#ffc371));
  background: linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%);
}

.bg-light {
  background-color: #ffffff !important;
}

.bg-gray {
  background-color: #f0f2f6 !important;
}

.bg-black {
  background-color: #18181c !important;
}

.bg-blue {
  background-color: #0652fd !important;
}

.bg-purple {
  background-color: #926cc4 !important;
}

.p0 {
  padding: 0 !important;
}

.p5 {
  padding: 5px !important;
}

.p10 {
  padding: 10px !important;
}

.p15 {
  padding: 15px !important;
}

.p20 {
  padding: 20px !important;
}

.p25 {
  padding: 25px !important;
}

.p30 {
  padding: 30px !important;
}

.p35 {
  padding: 35px !important;
}

.p40 {
  padding: 40px !important;
}

.p45 {
  padding: 45px !important;
}

.p50 {
  padding: 50px !important;
}

.p55 {
  padding: 55px !important;
}

.p60 {
  padding: 60px !important;
}

.p65 {
  padding: 65px !important;
}

.p70 {
  padding: 70px !important;
}

.p75 {
  padding: 75px !important;
}

.p80 {
  padding: 80px !important;
}

.p85 {
  padding: 85px !important;
}

.p90 {
  padding: 90px !important;
}

.p95 {
  padding: 95px !important;
}

.p100 {
  padding: 100px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pt120 {
  padding-top: 120px !important;
}

.pt200 {
  padding-top: 200px !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pr65 {
  padding-right: 65px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pr85 {
  padding-right: 85px !important;
}

.pr90 {
  padding-right: 90px !important;
}

.pr95 {
  padding-right: 95px !important;
}

.pr100 {
  padding-right: 100px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pb120 {
  padding-bottom: 120px !important;
}

.pb200 {
  padding-bottom: 200px !important;
}

.pl0 {
  padding-left: 0;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pl35 {
  padding-left: 35px;
}

.pl40 {
  padding-left: 40px;
}

.pl45 {
  padding-left: 45px;
}

.pl50 {
  padding-left: 50px;
}

.pl55 {
  padding-left: 55px;
}

.pl60 {
  padding-left: 60px;
}

.pl65 {
  padding-left: 65px;
}

.pl70 {
  padding-left: 70px;
}

.pl75 {
  padding-left: 75px;
}

.pl80 {
  padding-left: 80px;
}

.pl85 {
  padding-left: 85px;
}

.pl90 {
  padding-left: 90px;
}

.pl95 {
  padding-left: 95px;
}

.pl100 {
  padding-left: 100px;
}

.m0 {
  margin: 0;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.m25 {
  margin: 25px;
}

.m30 {
  margin: 30px;
}

.m35 {
  margin: 35px;
}

.m40 {
  margin: 40px;
}

.m45 {
  margin: 45px;
}

.m50 {
  margin: 50px;
}

.m55 {
  margin: 55px;

}

.m60 {
  margin: 60px;
}

.m65 {
  margin: 65px;
}

.m70 {
  margin: 70px;
}

.m75 {
  margin: 75px;
}

.m80 {
  margin: 80px;
}

.m85 {
  margin: 85px;
}

.m90 {
  margin: 90px;
}

.m95 {
  margin: 95px;
}

.m100 {
  margin: 100px;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mt110 {
  margin-top: 110px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mt-75 {
  margin-top: -75px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml0 {
  margin-left: 0 !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.ml100 {
  margin-left: 100px !important;
}